<footer class="footer">
  <div class="container">
    <div class="footer__details">
      <nav class="footer__nav">
        <ul>
          <li><a href="/">Shop</a></li>
          <li><a href="/rentals">Drift Rentals</a></li>
          <li><a href="/hyperdrift">Hyper Drift</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav> <!-- / __nav -->
      <img class="footer__logo" src="https://res.cloudinary.com/brstspd/image/upload/burstspeed-logo.png" alt="Burstspeed Logo">
      <p>© Copyright 2019. All Rights Reserved. BURSTspeed</p>
      <a href="https://jlax86.com" class="design">Custom Web Design by <span title="jlax86.com">jlax86</span></a>
    </div> <!-- / __details -->
  </div>
</footer>
