<header class="main-header">
  <a class="sm-logo" href="/">
    <img data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-out" data-aos-duration="500" class="intro__image" src="https://res.cloudinary.com/brstspd/image/upload/burstspeed-logo.png" alt="Burstspeed Logo">
  </a>
  <div class="container">
    <a href="#" class="main-header__menu">
      <span class="menu"><span>Menu</span></span>
    </a> <!-- / __menu -->
  </div> <!-- / .container -->
  <div class="main-header__content">
    <a href="/" class="logo">
      <img data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-out" data-aos-duration="500" class="intro__image" src="https://res.cloudinary.com/brstspd/image/upload/burstspeed-logo.png" alt="Burstspeed Logo">
    </a>
    <p class="subhead">Menu</p>
    <nav>
      <ul>
        <li><a href="/">Shop</a></li>
        <li><a href="/rentals">Drift Rentals</a></li>
        <li><a href="/hyperdrift">Hyper Drift</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <ul class="inline">

    </ul>
  </div> <!-- / __content -->
</header> <!-- / .main-header -->
