//Intro
.intro {
  width: 100%;
  position: relative;
  &__bg {
    width: 100%;
    position: relative;
    background: #000;
    min-height: 300px;
    @include breakpoint(500px) {
      min-height: 200px;
    }
  }
  &__content {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    z-index: 100;
    .container {
      max-width: 280px;
      text-align: center;
    }
  }
  &__image {
    display: inline-block;
    @include breakpoint(800px) {
      width: 300px;
    }
    @include breakpoint(500px) {
      width: 250px;
    }
  }
}
